html {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(223, 47, 47);
}

section {
  margin: 2em;
}

[data-emoji] {
  font-style: normal;
  font-weight: normal;
}
[data-emoji]:before {
  content: attr(data-emoji);
  margin-right: .125em;
}